.explanation-image {
    left: -2.2rem;
    width: 34rem;
    height: auto;
    margin-right: 0;
}

.branding-slogan {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 800;
    height: auto;
    width: auto;
    padding-bottom: 1rem;
}