.mini-divider {
    width: 5rem;
    height: 0.2rem;
    background: #98c9a3;
    margin: 0 2rem 2rem 0;
}

.product-card {
    height: 14rem !important;
}

.card-content {
    height: 26rem;
}

.card-button {
    bottom: 0; 
}

.card-title {
    margin: 0 !important;
}